<div>

  <h3>Edit your pets information</h3>

  <form action="/owner/edit-pet/{{petToEdit._id}}" method="post" enctype="multipart/form-data">

<img src="{{petToEdit.picture}}" alt="picture of {{petToEdit.name}}" width="150px" >

  <label for="picture">Your pet picture</label>
    <input type="file" name="picture" >

 <br />


    <br />
    <label for="name">Name</label>
    <input type="text" name="name" value="{{petToEdit.name}}" />

    <br />

    <label for="animalType">Choose animal type:</label>
    <select name="animalType">

      {{! <option value="dog" selected>Dog</option>
      <option value="cat">Cat</option> }}

      {{#if isDog}}
        <option value="dog" selected>Dog</option>
        <option value="cat">Cat</option>
      {{else}}
        <option value="dog">Dog</option>
        <option value="cat" selected>Cat</option>
      {{/if}}

    </select>

    <br />
    <label for="race">Race:</label>
    <input type="text" name="race" value="{{petToEdit.race}}" />
    <br />

    {{! <select name="size">
 <option value="small" selected>Small</option>
      <option value="medium">Medium</option>
      <option value="big">Big</option>
</select> }}

    <label for="size">Choose animal size:</label>
    <select name="size">
      {{#if isSmall}}
        <option value="small" selected>Small</option>
        <option value="medium">Medium</option>
        <option value="big">Big</option>
      {{/if}}
      {{#if isMedium}}
        <option value="small">Small</option>
        <option value="medium" selected>Medium</option>
        <option value="big">Big</option>
      {{/if}}
      {{#if isBig}}
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="big" selected>Big</option>
      {{/if}}

    </select>

    <br />

    <label for="dateOfBirth">Date Of Birth:</label>
    <input type="date" name="dateOfBirth" value="{{dateOfBirth}}" />

    <br />

    <label for="comment">comment</label>
    <textarea name="comment" rows="5" cols="50">{{petToEdit.comment}}</textarea>

    <br />

    <button>Save Edit</button>

    {{#if this.errorMessage}}
      <p>{{this.errorMessage}}</p>
    {{/if}}

  </form>
  <a href="/owner/petlist"> <button>Cancel</button></a>
</div>