<div class="PetJobContainer">

  <h3>Edit your pet information</h3>

  <div class="formPetJobContainer">

    <form
      action="/owner/edit-pet/{{petToEdit._id}}"
      method="post"
      enctype="multipart/form-data"
    >
    <div class="divImg">
           <img
        class="petListPic"
        src="{{petToEdit.picture}}"
        alt="picture of {{petToEdit.name}}"
        width="150px"
      />
    </div>
 
      <div class="mb-3">
        <label for="picture">Your pet picture</label>
        <input class="form-control" type="file" name="picture" />
      </div>

      <div class="mb-3">

        <label for="name">Name</label>
        <input
          class="form-control"
          type="text"
          name="name"
          value="{{petToEdit.name}}"
        />

      </div>

      <div class="mb-3">

        <label for="animalType">Choose animal type:</label>
        <br />
        <select class="form-select" name="animalType">

          {{! <option value="dog" selected>Dog</option>
      <option value="cat">Cat</option> }}

          {{#if isDog}}
            <option value="dog" selected>Dog</option>
            <option value="cat">Cat</option>
          {{else}}
            <option value="dog">Dog</option>
            <option value="cat" selected>Cat</option>
          {{/if}}

        </select>
      </div>
      <div class="mb-3">
        <label for="race">Race:</label>
        <br />
        <input
          class="form-control"
          type="text"
          name="race"
          value="{{petToEdit.race}}"
        />
      </div>

      <div class="mb-3">
        <label for="size">Choose animal size:</label>
        <select class="form-select" name="size">
          {{#if isSmall}}
            <option value="small" selected>Small</option>
            <option value="medium">Medium</option>
            <option value="big">Big</option>
          {{/if}}
          {{#if isMedium}}
            <option value="small">Small</option>
            <option value="medium" selected>Medium</option>
            <option value="big">Big</option>
          {{/if}}
          {{#if isBig}}
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="big" selected>Big</option>
          {{/if}}

        </select>

      </div>

      <div class="mb-3">
        <label for="dateOfBirth">Date Of Birth:</label>
        <input
          class="form-control"
          type="date"
          name="dateOfBirth"
          value="{{dateOfBirth}}"
        />
      </div>

      <div class="mb-3">
        <label for="comment">comment</label>
        <textarea
          name="comment"
          rows="5"
          cols="50"
          class="form-control"
          placeholder="Leave a comment here"
        >{{petToEdit.comment}}</textarea>
      </div>
      <div class="formPetJobContainerButtons">

        <button class="btn btn-primary">Save Edit</button>

        <a href="/owner/petlist">
          <button class="btn btn-outline-info">Cancel</button></a>
      </div>
      {{#if this.errorMessage}}
        <div class="alert alert-danger" role="alert">
          {{this.errorMessage}}
        </div>
      {{/if}}
    </form>

  </div>
</div>