<h2>Your pets</h2>
<div class="containerPetCard">



{{#each allOwnerPets}}
<div class="PetCard">
<div class="innerPetCard">
<h3><b>{{this.name}}</b></h2>
<img class="petListPic" src="{{this.picture}}" alt="picture of {{this.name}}" height="150px" >
 
  <p>Animal type: <b>{{this.animalType}}</b></p>
  <p>Race: <b>{{this.race}}</b></p>
  <p>Size: <b>{{this.size}}</b></p>
  <p>Date of birth: <b>{{this.dateOfBirth}}</b></p>
  <p>Comment:<b> {{this.comment}}</b></p>

 </div>
  <div class="buttonsSep">
  <a href="/owner/edit-pet/{{this._id}}"><button class="btn btn-primary">Edit pet</button></a>
  <a href="/owner/delete-pet/{{this._id}}"><button class="btn btn-danger">Delete pet</button></a>

  </div>
</div>
  

  {{/each}}
   </div>
  {{#if this.errorMessage}}
<div class="alert alert-danger" role="alert">
  {{this.errorMessage}}
  </div>
  {{/if}}
  <br>
  <hr>
  

 