<h2>Your pets</h2>

{{#each allOwnerPets}}

<h3>Name: {{this.name}}</h2>
<img src="{{this.picture}}" alt="picture of {{this.name}}" width="150px" >
  <p>Animal type: {{this.animalType}}</p>
  <p>Race: {{this.race}}</p>
  <p>Size: {{this.size}}</p>
  <p>Date of birth: {{this.dateOfBirthForHTML}}</p>
  <p>Comement: {{this.comment}}</p>

  <br>
  <a href="/owner/edit-pet/{{this._id}}"><button>Edit pet</button></a>
  <a href="/owner/delete-pet/{{this._id}}"><button>Delete pet</button></a>
  <br>
  {{/each}}
  {{#if this.errorMessage}}
  <p>{{this.errorMessage}}</p>
  {{/if}}
  <br>
  <hr>
  <a href="/owner/add-pet"> <button> Add a new pet</button> </a>
  <a href="/owner/add-job"> <button>Add a new Job</button></a>