<div class="cardJobContainer">
  <h3>List Job accepted</h3>

  {{#each jobsList}}

  <div class="cardJob">

    <div>
      <h3><b>{{this.city}} - {{this.startDate}} - {{this.price}}€</b></h3>
    </div>

    <div class="subCardBody">
      <div>

        <p><b>Pets:</b></p>
        {{#each this.pet}}
        <a href="/sittr/view-pet/{{this._id}}">
          <p>{{this.name}} - {{this.animalType}}</p>
        </a>
        {{/each}}
      </div>
      <div>
        <p>Start Date: <b>{{this.startDate}}</b></p>
        <p>End Date: <b>{{this.endDate}}</b></p>
      </div>

      <div>
        <p>Status: <b>{{this.status}}</b></p>
        <p>Comment: <b>{{this.comment}}</b></p>
      </div>

    </div>
  </div>
  {{/each}}

</div>