<div>

    
  <form action="/sittr/joblist" method="post">
    <label for="city">city:</label>
    <input type="text" name="city" value="{{this.city}}"/>

    <br />
    <label for="animalType">Choose animal type:</label>

{{#if this.isDog}}
    <label for="dog">Dog</label>
    <input type="checkbox" name="animalType" value="dog" checked/>
   <br />
{{else}}
 <label for="dog">Dog</label>
    <input type="checkbox" name="animalType" value="dog"/>
    <br />
{{/if}}
{{#if this.isCat}}
   <label for="cat">Cat</label>
    <input type="checkbox" name="animalType" value="cat" checked/>
    {{else}}
    <label for="cat">Cat</label>
    <input type="checkbox" name="animalType" value="cat"/>

{{/if}}



    <br />


        <label for="startDate">Start date:</label>
        <input type="date" name="startDate" value="{{this.startDate}}"/>

        <br />

        <label for="endDate">End date:</label>
        <input type="date" name="endDate"value="{{this.endDate}}" />

        <br />






     <button>Apply filters</button>





  </form>
   {{#if this.errorMessage}}
      <p>{{this.errorMessage}}</p>
    {{/if}}

</div>

<div>
  <h3>List Job</h3>

  {{#each jobsList}}

    <h3>Name: {{this.city}}-{{this.startDate}}</h3>
    {{#each this.pet}}
      <a href="/sittr/view-pet/{{this._id}}">
        <p>Pet: {{this.name}} - {{this.animalType}}</p>
      </a>
    {{/each}}
    <p>Start Date: {{this.startDate}}</p>
    <p>End Date: {{this.endDate}}</p>
    <p>Status: {{this.status}}</p>
    <p>Comement: {{this.comment}}</p>

    <br />
    <a href="/sittr/accept-job/{{this._id}}"> <button> Accept</button></a>
  
  {{/each}}



</div>