<div>
  <div class="PetJobContainer">
    <h4>Filters </h4>

    <div class="formPetJobContainer">

      <form action="/sittr/joblist" method="post">
        <div class="mb-3">
          <label for="city">city:</label>
          <br>
          <input class="form-control"  type="text" name="city" value="{{this.city}}" />
        </div>

        <div class="mb-3">
          <label for="animalType">Choose animal type:</label>
          <br />
          {{#if this.isDog}}
            <label for="dog">Dog</label>
            <input type="checkbox" name="animalType" value="dog" checked />
            
          {{else}}
            <label for="dog">Dog</label>
            <input type="checkbox" name="animalType" value="dog" />
            
          {{/if}}
          {{#if this.isCat}}
            <label for="cat">Cat</label>
            <inputtype="checkbox" name="animalType" value="cat" checked />
          {{else}}
            <label for="cat">Cat</label>
            <input  type="checkbox" name="animalType" value="cat" />

          {{/if}}
        </div>

        <div class="mb-3">
          <label for="startDate">Start date:</label>
          <br>
          <input class="form-control" type="date" name="startDate" value="{{this.startDate}}" />
        </div>

        <div class="mb-3">
          <label for="endDate">End date:</label>
          <br>
          <input class="form-control"  type="date" name="endDate" value="{{this.endDate}}" />

        </div>

        <div class="formPetJobContainerButtons">
          <button class="btn btn-primary">Apply filters</button>
        </div>

      </form>
      <br>
      {{#if this.errorMessage}}
        <div class="alert alert-danger">{{this.errorMessage}}</div>
      {{/if}}
    </div>
  </div>

<hr>
  <div class="cardJobContainer">
    <h3>List Job</h3>

    {{#each jobsList}}

      <div class="cardJob">
        <div>
          <h3><b>{{this.city}} - {{this.startDate}}</b></h3>
        </div>
        <div class="subCardBody">
          <div>
            <p><b>Pets:</b></p>
            {{#each this.pet}}
              <a href="/sittr/view-pet/{{this._id}}">
                <p>{{this.name}} - {{this.animalType}}</p>
              </a>
            {{/each}}
          </div>
          <div>
            <p>Start Date: {{this.startDate}}</p>
            <p>End Date: {{this.endDate}}</p>
          </div>
          <div>
            <p>Status: {{this.status}}</p>
            <p>Comement: {{this.comment}}</p>

          </div>

          <a href="/sittr/accept-job/{{this._id}}">
            <button class="btn btn-primary"> Accept</button></a>
        </div>
      </div>
    {{/each}}
  </div>
</div>