


<h3>Name: {{petToView.name}}</h2>
<img src="{{petToView.picture}}" alt="picture of {{petToView.name}}" width="150px" >
  <p>Animal type: {{petToView.animalType}}</p>
  <p>Race: {{petToView.race}}</p>
  <p>Size: {{petToView.size}}</p>
  <p>Date of birth: {{petToView.dateOfBirth}}</p>
  <p>Comement: {{petToView.comment}}</p>

  
