<div class="containerPetCard">
  <div class="PetCard">
<div class="innerPetCard">
    <h3><b>{{petToView.name}}</b></h2>
  <img class="petListPic" src="{{petToView.picture}}" alt="picture of {{petToView.name}}" width="150px" >
    <p>Animal type: <b>{{petToView.animalType}}</b></p>
    <p>Race: <b>{{petToView.race}}</b></p>
    <p>Size: <b>{{petToView.size}}</b></p>
    <p>Date of birth: <b>{{dateOfBirthForHTML}}</b></p>
    <p>Comment: <b>{{petToView.comment}}</b></p>

    <a href="javascript:history.back()"><button class="btn btn-outline-info">Go Back</button></a>
</div>
  

</div>
</div>